* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: white;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px; /* Adicionado padding para afastar conteúdo das bordas */
}

.video-container {
    width: 100%;
    max-width: 800px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adicionado sombra para destacar o vídeo */
}

video {
    width: 100%;
    height: auto;
}

#imagem {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    cursor: pointer;
    
}


#semafaro, #mart {
    text-align: center;
    width: 100%;
    z-index: 10; /* Garante que os textos fiquem sobrepostos */
}

h1 {
    position: absolute;
    top: 10px;


}

#sema {
position: absolute;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Garante que o vídeo fique abaixo dos textos */




}

#unico {
    position: absolute;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Garante que o vídeo fique abaixo dos textos */
}

@media (max-width: 1024px) {
    h1, #semafaro, #mart {
        font-size: 24px; /* Reduz o tamanho da fonte para telas menores */
    }

#unico {
    position: absolute;
    width: 100%;
    max-width: 700px;
    max-height: 700px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Garante que o vídeo fique abaixo dos textos */
}
}

@media (max-width: 768px) {
    body {
        padding: 10px; /* Reduz o padding para telas menores */
    }

    .video-container {
        max-width: 90%; /* Reduz a largura do vídeo para telas menores */
    }

    h1,  #mart {
        position: absolute;
        top:10%;
        left: 10%;
        font-size: 25px; /* Ajusta o tamanho da fonte para telas menores */
        max-height: 50vh; /* Define a altura máxima como 50% da altura da viewport */
    }

    #imagem {
        width: 40px; /* Reduz o tamanho da imagem para telas menores */
    }

    #unico {
    max-width: 80%; /* Reduz a largura do vídeo para telas menores */
    max-height: 50vh; /* Define a altura máxima como 50% da altura da viewport */
    top: 20%; /* Ajusta a posição vertical do vídeo */
    left: 50%; /* Mantém o vídeo centralizado */
    transform: translateX(-50%);
}
 
  #sema {
    position: absolute;
    max-width: 80%; /* Reduz a largura do vídeo para telas menores */
    max-height: 50vh; /* Define a altura máxima como 50% da altura da viewport */
    top: 20%; /* Ajusta a posição vertical do vídeo */
    left: 50%; /* Mantém o vídeo centralizado */
    transform: translateX(-50%);
         
}


#House {
        position: absolute;
        left: 30%;
        font-size: 25px; /* Ajusta o tamanho da fonte para telas menores */
        max-height: 50vh; /* Define a altura máxima como 50% da altura da viewport */
    
    
}   

#semafaro {
        position: absolute;
         top:10%;
        left: 3%;
        font-size: 25px; /* Ajusta o tamanho da fonte para telas menores */
        max-height: 50vh; /* Define a altura máxima como 50% da altura da viewport */
    
}    
}
