* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: blue;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
}

.video-container {
    width: 100%;
    max-width: 800px;
    padding: 10px;
}

video {
    width: 100%;
    height: auto;
}


#imagem {
    position: absolute;
    left: 26px;
    top: 30px;
    width: 50px;
    cursor: pointer;
}

h1 {
    text-align: center;
   position: absolute;
   left: 48%;
   top: 30px;
}

#semafaro {
    text-align: center;
    position: absolute;
    left: 45%;
    top: 30px;
}

#unico {
    position: absolute;
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção do vídeo */
    max-width: 700px; /* Define a largura máxima */
    max-height: 700px; /* Define a altura máxima */
    top: 10%;
    left: 35%;
  }
  


@media (max-width: 768px) {
   h1 {
    text-align: center;
    position: absolute;
    left: 30%;
    top: 30px;

   }

   #semafaro {
    text-align: center;
    position: absolute;
    left: 27%;
    top: 30px;
}
#unico {
    position: absolute;
    width: 100%; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção do vídeo */
    max-width: 350px; /* Define a largura máxima */
    max-height: 500px; /* Define a altura máxima */
    top: 17%;
    left: 5%;
  }

  #mart {
    text-align: center;
    position: absolute;
    left: 23%;
    top: 30px;
  }
  

}
